<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        p {
            font-family:  Arial, sans-serif;
        }
    </style>
</head>
<body>
    <p style="font-size: medium">Witaj <span th:text="${username}"></span></p>
    <p>Poniżej znajduje się link aktywacyjny.
        Kliknij lub skopiuj link do okna przeglądarki,
        aby aktywować swoje konto i korzystaj w pełni z możliwości aplikacji Eskarbnik.</p>

    <a th:text="${link}"></a>
    <em><p>Pozdrawiamy<br/>Zespół Eskarbnik</p></em>
</body>
</html>